<div style="border: 5px dotted rebeccapurple;" class="my-4 py-4 w-60 mx-5 h-100 px-5">

    <h3 style="color: darkkhaki; text-align: center;">Message subscriber</h3>

    <div class="my-5">
        <h4 style="color: darkkhaki;"><span style="font-weight: bold;">Received Message: </span>
            <span>{{receivedMessage}}</span></h4>
    </div>

    <div class="my-5">
        <h4 style="color: brown;"><span style="font-weight: bold;">Received Message via ASYNC pipe: </span>
            <span>{{receivedMessage$ | async}}</span></h4>
    </div>
</div>