<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My First Angular APP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/employee-list">Employee List</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Observable examples</a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/observable-example">Parent child component</a>
            </li>
            <li>
              <a class="dropdown-item" href="/nested-component-example">Nested Component real time example(Parent child)</a>
            </li>
            <li>
              <a class="dropdown-item" href="/observable-with-sibling-example">Sibling components</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/articles">Articles</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>